<div class="full_container">
  <div class="inner_container">
     <!-- Sidebar  -->
     <nav id="sidebar" *ngIf="isLoggedIn">
        <div class="sidebar_blog_1">
           <div class="sidebar-header">
              <div class="logo_section">
                 <a href="index.html"><img class="logo_icon img-responsive" src="../assets//images//layout_img/user_img.jpg" alt="#" /></a>
              </div>
           </div>
           <div class="sidebar_user_info">
              <div class="icon_setting"></div>
              <div class="user_profle_side">
                 <div class="user_img"><img class="img-responsive" src="../assets//images//layout_img/user_img.jpg" alt="#" /></div>
                 <div class="user_info">
                    <h6>Admin</h6>
                    <p><span class="online_animation"></span> Online</p>
                 </div>
              </div>
           </div>
        </div>
        <div class="sidebar_blog_2">
           <h4>General</h4>
           <ul class="list-unstyled components">
              <li><a routerLink="dashboard"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a></li>
              <li><a routerLink="students"><i class="fa fa-graduation-cap orange_color"></i> <span>Students</span></a></li>
              <li><a routerLink="filieres"><i class="fa fa-book orange_color"></i> <span>Specialties</span></a></li>
              <li><a routerLink="professeurs"><i class="fa fa-user orange_color"></i> <span>Professors</span></a></li>
              <li><a routerLink="modules"><i class="fa fa-book orange_color"></i> <span>Modules</span></a></li>
              <li><a routerLink="interventions"><i class="fa fa-calendar orange_color"></i> <span>Interventions</span></a></li>
           </ul>
        </div>
     </nav>
     <!-- end sidebar -->
     <!-- right content -->
     <div id="content">
        <!-- topbar -->
        <div class="topbar">
          <nav class="navbar navbar-expand-lg navbar-light" *ngIf="isLoggedIn">
            <div class="full">
                <!-- Sidebar toggle button -->
                <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>

                <!-- Logo section -->
                <div class="logo_section">
                    <a href="index.html"><img class="img-responsive rounded-circle" src="../assets/images//layout_img/user_img.jpg" alt="#" /></a>
                </div>

                <!-- Right topbar -->
                <div class="right_topbar">
                    <div class="icon_info">
                        <ul class="user_profile_dd">
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="img-responsive rounded-circle" src="../assets//images//layout_img/user_img.jpg" alt="#" />
                                    <span class="name_user">Admin</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="profile.html">My Profile</a>
                                    <!-- Bind logout method to the click event -->
                                    <a class="dropdown-item" (click)="logout()">
                                        <span>Log Out</span>
                                        <i class="fa fa-sign-out"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        </div>
        <!-- end topbar -->
        <!-- dashboard inner -->
        <div class="midde_cont">
           <div class="container-fluid">
            <router-outlet></router-outlet>
           </div>
           <!-- footer -->
           <div class="container-fluid fixed-bottom row" *ngIf="isLoggedIn">
            <div class="col-4"></div>
              <div class="col-7 footer">
                 <p>Copyright © 2024 Projet Spring & Angular.<br><br>
                    Done By: <a href="https://themewagon.com/">scanF & Maram</a>
                 </p>
              </div>
           </div>
        </div>
        <!-- end dashboard inner -->
     </div>
  </div>
</div>
